.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
}

.report-preview {
    display: inline-block;
    margin: 6px 3px;
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-size: 20px; */
    font-weight: normal;
    width: 200px;
}

.report-thumb {
    height: 144px;
    width: auto;
}
