hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.content {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1370px;
    /*margin-top: 200px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.selector {
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17.075px;
    font-weight: normal;
    line-height: 1.4;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
 
.selector-primary {
    color: #AAA;
    background-color: #222;
}
.selector-primary.active {
    color: #FFF;
    background-color: #1F8DD6;
}

.selector-group {
    margin-bottom: 0;
}

.selector-group>.selector {
    position: relative;
}

.selector-group>.selector:first-child {
    margin-left: 0;
}
.selector-group>.selector:first-child:not(:last-child) {
    border-top-right-radius: 0;
}
.selector-group>.selector:last-child:not(:first-child) {
    border-top-left-radius: 0;
}
.selector-group>.selector:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.button {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border: none;
    border-radius: 4px;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
    text-decoration: none;
}

.button-primary {
    color: #fff;
    background-color: #BDC3C7;
}
.button-primary:hover, .button-primary:focus {
    color: #fff;
    background-color: #95A5A6;
}
.button-primary.active {
    color: #fff;
    background-color: #7F8C8D;
}

.button-group>.button {
    position: relative;
    /*float: left;*/
}

.button-group>.button:first-child {
    margin-left: 0;
}

.button-group>.button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button-group>.button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-group>.button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.pixelated {
    image-rendering:optimizeSpeed;             /* Legal fallback */
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 40px;
    margin-left: auto; 
    margin-right: auto;
}

thead {
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
}

th {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding: 0.5em 1em;
    border-top: 1px solid #CCC;
}

th:first-child { border-left: 1px solid #CCC; border-top-left-radius: 5px; }
th:last-child { border-right: 1px solid #CCC; border-top-right-radius: 5px; }
td:last-child { border-right: 1px solid #CCC; }
tr:last-child>td { border-bottom: 1px solid #CCC; }
tr:last-child>td:first-child { border-bottom-left-radius: 5px; }
tr:last-child>td:last-child  { border-bottom-right-radius: 5px; }

td {
    text-align: right;
    padding: 0.5em 1em;
}

td {
    border-left: 1px solid #CCC;
    border-width: 0 0 0 1px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
  }
  
  .side-image {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
  }
  
  .side-image:last-child {
    margin-right: 0;
  }
  
/* Media query for small screens */
@media screen and (max-width: 768px) {
    .image-container {
      margin-top: 10px;
    }
  }